{{#each project}}
  <div class='row project'>
    <div class='five columns info'>
      <h5>{{title}}</h5>
      <p>{{desc}}</p>

      <div class='links'>
        {{#if link}}
          <a href={{link}} target='_blank'><i class=" icon-external-link-sign icon-2x"></i></a>
        {{/if}} 
        {{#if repo}}
          <a href={{repo}} target='_blank'><i class="icon-github icon-2x"></i></a>
        {{/if}} 
      </div>
    </div>

    <div class='seven columns screenshot'>
      {{#if img}}
        <img src={{img}}>
      {{^}}
        <p>no img</p>
      {{/if}}
    </div>
  </div>
{{~/each}}
