<div class='project_slides'>
  
{{#each project}}
  <div class='row project'>
    <div class='five columns info'>
      <h4>{{title}}</h4>
      <p>{{desc}}</p>

      <div class='links'>
        {{#if link}}
          <a href={{link}} target='_blank'><i class="fa fa-external-link"></i>  Website</a>
        {{/if}} 
        {{#if repo}}
          <a href={{repo}} target='_blank'><i class="fa fa-github"></i>  Github</a>
        {{/if}}
      </div>
    </div>

    <div class='seven columns screenshot'>
      {{#if img}}
        <img class='b-lazy' src='./dist/img/ajax.gif' alt={{title}} data-src={{img}}>
      {{^}}
        <p>no img</p>
      {{/if}}
    </div>
  </div>
{{~/each}}

</div>
